<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Tarantool Driven Blog</title>
</head>

<body>
    <h1>Tarantool Driven Blog</h1>
    <div>
        <form id="add-post-form" action="/posts/create">
            <div>
                <label>Title
                    <input name="title" size="60">
                </label>
            </div>
            <div>
                <label>Text
                    <textarea name="text" cols="60" rows="8"></textarea>
                </label>
            </div>
            <div>
                <input type="submit" id="submit" value="submit">
            </div>
        </form>
    </div>
    <div id="posts"></div>
    <script src="main.js"></script>
</body>

</html>